body{
    background: #403937;
    /* background-image: url("../img/pattern.jpg"); */
    color: #ffffff;
    font-family: Calibri;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow: auto;
}
div#container{
    width: 100%;
}
div#header{
    height: 100px;
    background-image: url("../img/header.png");
    vertical-align: middle;
}
div#content{
    text-align: center;
}
div#header_container{
    margin: 0 auto;
    width: 100%;
    vertical-align: middle;
}
div#header_container img{
    vertical-align: middle;
}
div#header_tabs_container{
    padding-right: 15px;
    position: absolute;
    right: 0;
    top: 15;
    display: inline-block;
    text-align: right;
    margin-left: 150px;
}
div.header_tabs_divs{
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    color: #4b4443;
    border-radius: 5px;
    padding:10px 10px;
   /* background-color: #90e8ff; */
}
div.header_tabs_divs_active{
    display: inline-block;
    color: #000000;
    font-weight: bold;
    border-radius: 5px;
    padding:10px 10px;
    background-color: #90e8ff;
}